.ticketForm {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-end;

  padding: 1.25rem 1rem;
  border-radius: 0.5rem;

  // Taken from https://getcssscan.com/css-box-shadow-examples
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
