.createTicketButton {
  width: 100%;
  display: inline-block;
  font-size: 0.8rem;
  padding: 1rem 0.5rem;

  border-radius: 0.25rem;

  background-color: #496cd6;
  color: white;

  border: none;
  text-align: center;
  text-decoration: none;

  transition: box-shadow 0.15s;
  will-change: box-shadow;

  &:hover,
  &:focus {
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.closeButton {
  font-size: 1rem;

  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
