/* Took From: https://codesandbox.io/s/winter-tree-wmmffl?file=/src/styles.css */
.App {
  font-family: sans-serif;
  text-align: center;
}

.Tooltip {
  background: #222;
  color: white;
  pointer-events: none;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 0.7rem;
}
