.ticket {
  width: 100%;

  display: flex;
  gap: 1rem;
  align-items: baseline;

  padding: 1.5rem 1rem;
  border-radius: 0.5rem;

  // Taken from https://getcssscan.com/css-box-shadow-examples
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  transition: box-shadow 0.15s;
  will-change: box-shadow;

  &:hover,
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.ticketContent {
  font-size: 1rem;
}
